<%= form_for(@note) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %> <label>(e.g. tag1, tag2, ...)</label>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :outline %>
    <%= f.text_area :outline, rows: '10', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mode %>
    <%= f.select :mode,
                  [["Local", Note::MODE_LOCAL],["Site", Note::MODE_SITE],["Web", Note::MODE_WEB]],
                  {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :picture %><br>
    <%= icon_for(@note, { name: @note.picture.url, size: 32 }) %>
    <span class="picture-url small">
      <% if @note.picture? %>
        <%= link_to "#{@note.picture.url}", @note.picture.url %>
      <% else %>
        no picture
      <% end %>
    </span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>

<%= render 'static_pages/help_about_mode' %>
<%= render 'static_pages/help_picture_requirements' %>

<script type="text/javascript">
  $('#note_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>