<%= form_for(@note) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %> <label>(e.g. tag1, tag2, ...)</label>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :outline %>
    <%= f.text_area :outline, rows: '10', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :mode %>
    <%= f.select :mode, [
      ["Local", Note::MODE_LOCAL],
      ["Site",  Note::MODE_SITE ],
      ["Web",   Note::MODE_WEB  ]
    ], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>

<%= render 'static_pages/help_about_mode' %>

