<li id="note-<%= note.id %>" class="media">

    <%= icon_for(note, { name: note.title, size: 64 }) %>

    <div class="media-body">
      <div>
        <% if note.can_show?(current_user) %>
          <b><%= link_to note.title, note %></b>
        <% else %>
          <b><%= note.title %></b>
        <% end %>
        <%= badge(note) %>
      </div>

      <span class="tags small">
        <% note.tags.each do |tag| %>
          <% if user %>
            <%= link_to tag.name, user_path(user, tag: tag.name) %>
          <% else %>
            <%= link_to tag.name, root_path(tag: tag.name) %>
          <% end %>
        <% end %>
      </span>

      <div>
        <%= note.outline %>
      </div>

      <span class="text-muted small">
        <%= timestamp(note) %>
      </span>

    </div>

</li>
