<% provide(:title, 'Notes') %>
<% provide(:keywords, @keywords) %>

<div class="row">

  <aside class="col-4">

    <%= render 'static_pages/home_title' %>

    <div class="tags small">
      <% @all_tags.each do |tag| %>
        <%= link_to tag.name, notes_path(search: "#{tag.name}") %>
      <% end %>
    </div>

    <%= form_tag(notes_path, :method => "get", id: "search-form", class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "search tags", class: "form-control form-control-sm w-75 ml-auto" %>
      <%= submit_tag "search", class: "form-control form-control-sm ml-2 mr-auto" %>
    <% end %>

    <%= render 'static_pages/home_logos' %>

  </aside>

  <div class="col-8">

    <div class="list_header">
      <span class="count">
        Notes (<%= @all_notes.count %>)
      </span>
    </div>

    <ul class="notes_list">
      <%= render @page_notes, user: nil %>
    </ul>
    
    <%= will_paginate @page_notes, renderer: will_paginate_renderer %>

  </div>

</div>
