<% provide(:title, @note.title) %>
<% provide(:author, @author) %>
<% provide(:description, @description) %>
<% provide(:keywords, @keywords) %>

<div class="row">

  <aside class="col-md-4">
    <section class="note_info">

      <%= icon_for @note, {name: @note.title, size: 256} %>

      <div class="title">
        <b><%= @note.title %></b>
        <%= badge(@note) %>
      </div>

      <div class="outline">
        <%= @note.outline %>
      </div>

      <span class="timestamp text-muted small">
        <%= timestamp(@note) %>
      </span>

      <% if @note.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[edit]", edit_note_path(@note) %>
          <%= link_to "[delete]", note_path(@note),
                                  method: :delete, data: { confirm: "You sure?" } %>
        </span>
      <% end %>

    </section>

    <% if @note.can_edit?(current_user) %>
      <div class="list_header">
        <span class="count">
          Pictures (<%= @note.pictures.count %>)
        </count>
        <span class="command">
          <%= link_to "[new]", new_note_picture_path(@note) %>
        </span>
      </div>

      <ul class="pictures_list">
        <%= render @pictures %>
      </ul>
    <% end %>

  </aside>

  <div class="col-md-8">

    <div class="list_header">
      <span class="count">
        Memos (<%= @note.memos.count %>)
      </count>

      <% if @note.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[new]", new_note_memo_path(@note) %>
        </span>
      <% end %>
    </div>

    <ul class="memos_list">
      <%= render @memos %>
    </ul>
    <%= will_paginate @memos, renderer: will_paginate_renderer %>

  </div>

</div>
