<li id="user-<%= user.id %>" class="media">

  <%= icon_for(user, { name: user.name, size: 64 }) %>

  <div class="media-body">

    <h5 class="mt-0 mb-1">
      <% if user.can_show?(current_user) %>
        <b><%= link_to user.name, user %></b>
      <% else %>
        <b><%= user.name %></b>
      <% end %>
      <%= badge(user) %>
    </h5>

    <p><%= user.outline %></p>

    <span class="text-muted small">
      <%= timestamp(user) %>
    </span>

  </div>
</li>