<li id="user-<%= user.id %>" class="media">

  <%= icon_for(user, { name: user.name, size: 64 }) %>

  <div class="media-body">

    <% if user.can_show?(current_user) %>
      <b><%= link_to user.name, user %></b>
    <% else %>
      <b><%= user.name %></b>
    <% end %>
    <%= badge(user) %>

    <div>
      <%= user.outline %>
    </div>

    <span class="text-muted small">
      <%= timestamp(user) %>
    </span>

  </div>
</li>