<% provide(:title, 'Users') %>

<div class="row">

  <aside class="col-4">

    <%= render 'static_pages/home_title' %>

    <%= render 'static_pages/home_logos' %>

  </aside>

  <div class="col-8">

    <div class="list_header">
      <span class="count">
        Users (<%= @all_users.count %>)
      </count>
    </div>

    <ul class="users_list">
      <%= render @page_users %>
    </ul>
    <%= will_paginate @page_users, renderer: will_paginate_renderer %>

  </div>

</div>
