<% provide(:title, @user.name) %>
<% provide(:author, @author) %>
<% provide(:description, @description) %>
<% provide(:keywords, @keywords) %>

<div class="row">

  <aside class="col-4">
    <section class="user_info">
      <%= icon_for @user, {name: @user.name, size: 256} %>

      <div class="name">
        <b><%= @user.name %></b>
        <%= badge(@user) %>
      </div>

      <div class="outline">
        <%= @user.outline %>
      </div>

      <span class="timestamp text-muted small">
        <%= timestamp(@user) %>
      </span>

      <% if @user.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[edit]", edit_user_path(@user) %>
          <% unless @user.admin? %>
            <%= link_to "[delete]", user_path(@user), method: :delete,
                                    data: { confirm: "You sure?" } %>
          <% end %>
        </span>
      <% end %>
    </section>

    <div class="tags small">
      <% @all_tags.each do |tag| %>
        <%= link_to tag.name, user_path(@user, search: "#{tag.name}") %>
      <% end %>
    </div>

  </aside>

  <div class="col-8">

    <div class="list_header">
      <span class="count">
        Notes (<%= @all_notes.count %>)
      </span>
      
      <% if @user.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[new]", new_note_path %>
        </span>
      <% end %>
    </div>

    <ul class="notes_list">
      <%= render @page_notes, user: @user %>
    </ul>
    <%= will_paginate @page_notes, renderer: will_paginate_renderer %>

  </div>

</div>
