<% provide(:title, @user.name) %>
<div class="row">

  <aside class="col-md-4">
    <section class="user_info">
      <%= icon_for @user, {name: @user.name, size: 256} %>

      <div>
        <b><%= @user.name %></b>
        <%= badge(@user) %>
      </div>

      <div>
        <%= @user.outline %>
      </div>

      <span class="text-muted small">
        <%= timestamp(@user) %>
      </span>

      <% if @user.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[edit]", edit_user_path(@user) %>
          <%= link_to "[delete]", user_path(@user), method: :delete,
                                  data: { confirm: "You sure?" } %>
        </span>
      <% end %>
    </section>

  </aside>

  <div class="col-md-8">

    <div class="list_header">
      <span class="count">
        Notes (<%= @all_notes.count %>)
      </count>
      
      <% if @user.can_edit?(current_user) %>
        <span class="command">
          <%= link_to "[new]", new_note_path %>
        </span>
      <% end %>
    </div>

    <ul class="notes_list">
      <%= render @page_notes, user: @user %>
    </ul>
    <%= will_paginate @page_notes, renderer: will_paginate_renderer %>

  </div>

</div>
