<li id="picture-<%= picture.id %>" class="media">

  <%= icon_for(picture, { name: picture.picture.url, size: 32 }) %>

  <div class="media-body">

    <div class="picture-url small">
      <% if picture.picture? %>
        <% if mode == "notes" %>
          <%= "#{picture.title}: #{picture.outline}" %>
          <%= link_to "#{picture.picture.url}", picture.picture.url %>
        <% else %>
          <%= "![#{picture.outline}](#{picture.picture.url} \"#{picture.title}\")" %>
        <% end %>
      <% end %>
    </div>

    <div class="timestamp text-muted small">
      <%= timestamp(picture) %>
    </div>

    <% if mode == "notes" %>
      <span class="command">
        <%= link_to "[edit]", edit_note_picture_path(@note, picture) %>
        <%= link_to "[delete]", note_picture_path(@note, picture),
                                method: :delete, data: { confirm: "You sure?" } %>
      </span>
    <% end %>

  </div>

</li>