<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? && current_user.nil? # for only outsider %>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="site" content="<%= app_name %>">
      <meta name="title" content="<%= yield(:title) %>">
      <meta name="author" content="<%= yield(:author) %>">
      <meta name="description" content="<%= yield(:description) %>">
      <meta name="keywords" content="<%= yield(:keywords) %>">
    <% end %>    

    <title><%= full_title(yield(:title)) %></title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= mathjax_tag %>

    <% if current_user.nil? # for only outsider %>
      <%= render 'layouts/google_ad' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-lg">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
